* {
	box-sizing: border-box;
	outline: 0;
	border: 0;
	font-weight: 600;
	font-family: 'Poppins', 'Roboto', 'Noto', sans-serif;
}

body {
	margin: 0;
	color: #333;
	font-size: 60px;
	animation: fadein .2s;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	display: flex;
}

.dcm {
	padding: 16px 32px;
	color: #b2b2b2;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

a {
	display: inline-flex;
	margin: 0 16px;
	padding: 16px 0;
	color: inherit;
	text-decoration: none;
	align-items: center;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	width: 100%;
	background-color: white;
	position:fixed;
    bottom:0;
	display: flex;
	padding: 16px;
	font-size: 18px;
}

.flex {
	display: flex;
	flex-grow: 1;
}

.form {
	width: 100%;
}

.sd {
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 9%)
}

input {
	padding: 10px 32px;
	width: 100%;
	color: inherit;
	font-size: inherit;
}

::placeholder {
	color: #b2b2b2;
}

::selection {
	background-color: #000;
	color: #fff;
}

#erbox {
	padding: 16px 32px;
	color: #f44336;
	animation: fadeout;
	animation-fill-mode: forwards;
}

#alias {
	padding: 16px 32px;
	color: #58DE71;
}

#sucess {
	cursor: pointer;
	padding: 16px 32px;
	color: #58DE71;
}

#qrr {
	padding-bottom: 91px;
}



.grad {
	background: linear-gradient(120deg, rgba(18,194,233,1) 0%, rgba(196,113,237,1) 35%, rgba(246,79,89,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media all and (max-width: 720px) {
	body {
		font-size: 28px;
	}

	footer {
		flex-direction: column;
	}
}
